html,body {
    padding: 0;
    height: 100%;
    margin: 0px;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15;
}

.mainBox {
    display: grid;
    grid-template-columns: 20% 80%;
  }


.sideBar {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(128, 0, 128, 0.851); 
    position: fixed; 
    height:100vh;
}

.mainContent{
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-left: 240px;
    width: 500%;
}