html {
    scroll-behavior: smooth;
  }

article {
    height: 100vh;
    border-bottom: solid 1px rgba(128, 128, 128, 0.285);
    padding: 20px;
}

a:hover {
    color: rgb(220, 197, 220);
  }

.caroHeight {
    height: 100%;
}

.iconColor {
    color: purple;
}
.mainHeading {
    font-size:80px;
    font-weight: bold;
}

.mainPaddingTop {
    margin-top: 100px;
}

.headings {
    font-size: 50px;
    font-weight: 590;
    padding-top: 40px;
}

.subHeading {
    padding-top: 30px;
}

.bodyP {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.502);
}

.greyText{
    color: grey;
}

.bigimg {
    width: 500px;
    margin-top: 40px;
    border: solid 4px purple;
}


.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: purple;
    border-radius: 25px;
}
.skill_bar .bar .python{
    width: 80%;
    animation: python 2s;
}
@keyframes python {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}

.skill_bar .bar .cc{
    width: 40%;
    animation: cc 2s;
}
@keyframes cc {
    0%{
        width: 0%;
    }100%{
        width: 40%;
    }
}
.skill_bar .bar .java{
    width: 70%;
    animation: java 2s;
}
@keyframes java {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .html{
    width: 70%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}